:root {
    --background-color: #27273d;
    --game-color: #525286;

    --font-size: 2rem;
    --square-size: 3rem;

    --battleship-size: 2rem;
    --ship-color: #525286;
    --ship-color-invalid: #c25454;

    --border-size: 2.5rem;
}

body {
    font-size: 10px;
    font-family: Roboto, sans-serif;
    background-color: var(--background-color);
    margin: 0;
}
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.game-boards {
    display: flex;
    flex-direction: row;
}
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--game-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.game:not(:last-child) {
    margin-right: 2rem;
}
.game-text {
    font-size: var(--font-size);
    font-weight: bold;
    color: #fff;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
}
.game-board {
    display: flex;
    flex-direction: column;
}
.game-row {
    display: flex;
    flex-direction: row;
}
.game-row-letters {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.game-row-letter {
    display: inline-block;
    width: var(--square-size);
    font-size: 2rem;
    font-weight: bold;
    height: var(--border-size);
    background-color: #fff;
    outline: 2px dashed #000;
    text-align: center;
}
.game-row-corner {
    height: var(--border-size);
    width: var(--border-size);
    display: inline-block;
    background-color: #fff;
    outline: 2px dashed #000;
}
.game-row-number {
    display: inline-block;
    height: var(--square-size);
    width: var(--border-size);
    font-size: 2rem;
    font-weight: bold;
    background-color: #fff;
    outline: 2px dashed #000;
    text-align: center;
 }
.game-space {
    width: var(--square-size);
    height: var(--square-size);
    background-color: #fff;
    outline: 2px dashed #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.battleships {
    position: absolute;
    pointer-events: none;
}
.battleship {
    background-color: var(--ship-color);
    pointer-events: none;
    border-radius: 100vw;
    position: absolute;
    top: calc(var(--border-size) + (var(--square-size) - var(--battleship-size)) / 2 + var(--ship-x1) * var(--square-size));
    left: calc(var(--border-size) + (var(--square-size) - var(--battleship-size)) / 2 + var(--ship-y1) * var(--square-size));
    height: calc(var(--battleship-size) + (var(--ship-x2) - var(--ship-x1)) * var(--square-size));
    width: calc(var(--battleship-size) + (var(--ship-y2) - var(--ship-y1)) * var(--square-size));
}
.battleship.invalid {
    background-color: var(--ship-color-invalid);
}